<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer this question | check out others answer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./fontawesome-free-5.15.4-web/css/all.min.css">
</head>
<body>
    <div class="container-fluid">
        
        <div class="container mt-5 mb-5">
            <div class="row">
                <a href="#" class="mb-4 ms-1">
                    Back</a>
                    <div class="question question-answer" >
                        <div class="question-as">
                            <div>
                                <img src="./img/team-8-42x42.jpg" class="author-img" alt="author">
                                <div class="ten">
                                    <h6 class="author-name">
                                        Ta Dinh Han
                                     </h6>
                                    <p class="date">Added an answer on April 19, 2018 at 2:00 am</p>
                                </div>
                                <p  class="question-detail">Yes, I understand it. I hear a lot of this incorrect grammar from my wife. I would expect that the person that spoke this was possibly Chinese. In Chinese there are no tenses or plurals. No he or she pronouns. The context tells all. So it might have been a direct translation from Chinese.</p>
                    
                            </div>
                            <div style="margin-left: 58px;">
                                <div class="like-dis">
                                    <i class="icon-question fas fa-caret-square-up"></i> 40
                                    <i class="icon-question-down fas fa-caret-square-down"></i>
                                </div>
                                <div class="like-dis">
                                    <i class="icon-question reply fas fa-reply "></i> 
                                    <p class="reply">reply</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4 ">
                        <label for="exampleFormControlTextarea3">
                            Question you want to ask:</label>
                        <textarea class="form-control mt-1" style="min-width: 1146px;" id="exampleFormControlTextarea3" placeholder="Write something here..." rows="7"></textarea>
                    </div>
                    <div class="btn mb-5">
                        <button type="button" class="btn btn-success ms-4">Cancel</button>
                        <button type="button" class="btn btn-secondary me-2 ms-2">Post</button>
                    
                    </div>
                    <div class="question">
                        <div class="question-as">
                            <div>
                                <img src="./img/team-8-42x42.jpg" class="author-img" alt="author">
                                <div class="ten">
                                    <h6 class="author-name">
                                        Ta Dinh Han
                                     </h6>
                                    <p class="date">Added an answer on April 19, 2018 at 2:00 am</p>
                                </div>
                                <p  class="question-detail">Yes, I understand it. I hear a lot of this incorrect grammar from my wife. I would expect that the person that spoke this was possibly Chinese. In Chinese there are no tenses or plurals. No he or she pronouns. The context tells all. So it might have been a direct translation from Chinese.</p>
                    
                            </div>
                            <div style="margin-left: 58px;">
                                <div class="like-dis">
                                    <i class="icon-question fas fa-caret-square-up"></i> 40
                                    <i class="icon-question-down fas fa-caret-square-down"></i>
                                </div>
                                <div class="like-dis">
                                    <i class="icon-question reply fas fa-reply "></i> 
                                    <p class="reply">reply</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question">
                        <div class="question-as">
                            <div>
                                <img src="./img/team-8-42x42.jpg" class="author-img" alt="author">
                                <div class="ten">
                                    <h6 class="author-name">
                                        Ta Dinh Han
                                     </h6>
                                    <p class="date">Added an answer on April 19, 2018 at 2:00 am</p>
                                </div>
                                <p  class="question-detail">Yes, I understand it. I hear a lot of this incorrect grammar from my wife. I would expect that the person that spoke this was possibly Chinese. In Chinese there are no tenses or plurals. No he or she pronouns. The context tells all. So it might have been a direct translation from Chinese.</p>
                    
                            </div>
                            <div style="margin-left: 58px;">
                                <div class="like-dis">
                                    <i class="icon-question fas fa-caret-square-up"></i> 40
                                    <i class="icon-question-down fas fa-caret-square-down"></i>
                                </div>
                                <div class="like-dis">
                                    <i class="icon-question reply fas fa-reply "></i> 
                                    <p class="reply">reply</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
    
    <script src="script.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>