<!DOCTYPE html>
<html lang="en" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions</title>
    <link rel="stylesheet" href="/styles/qa/style.css" />
    <!-- <script src="/js/qa/main.js"></script> -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    defer
  ></script>
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"
    defer
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
    integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    defer
  ></script>
    <script src="/js/qa/question.js" defer></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="container mb-5">
        <div class="container-question row">
          <ul class="nav nav-tabs ms-5 mt-5">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Nearest</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> No reply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ask a question</a>
            </li>
          </ul>
          <div id="questionDiv"> </div>
          <!-- <div th:each="element : ${listQuestion}">
            <div class="question">
              <div class="question-as">
                <div>
                  <img
                    th:src="${element.creator.photoUrl}"
                    class="author-img avatar"
                    alt="author"
                  />
                  <div class="ten">
                    
                    <h6 class="author-name" th:text=${element.creator.name}></h6>
                    <p class="date" th:text="'Added an question on ' +${element.createAt}">
                    </p>
                  </div>
                  <p class="question-detail" th:text="${element.content}">
                
                  </p>
                </div>
                <div style="margin-left: 58px">
                  <div class="like-dis">
                    <i class="icon-question fas fa-caret-square-up"></i>
                    <span th:text="${element.upVoteCount}"></span>
                    <i class="icon-question-down fas fa-caret-square-down"></i>
                    <span th:text="${element.downVoteCount}"></span>
                  </div>
                  <div class="like-dis">
                    <i class="icon-question reply fas fa-reply"></i>
                    <a th:href="@{'/answer/' + ${element.slug}}"><p class="reply">anwer</p></a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          

        </div>
      </div>
      <div class="showMore">
        <button
        type="button"
        id="showMoreBtn"
        class="btn btn-secondary btn-sm"
        >
        show more
        </button>
      </div>
    </div>
  </body>
</html>
