<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Index test</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container text-center">
      <h3>
        <a th:href="@{/home}">Home page</a>
      </h3>
      <h3>
        <a th:href="@{/recipeDetail}">Recipe Detail </a>
      </h3>
      <h3>
        <a th:href="@{/postQuestion}">Post question</a>
      </h3>
      <h3>
        <a th:href="@{/answer}">Question Detail - Answer</a>
      </h3>
      <h3 sec:authorize="isAuthenticated()">
        <a th:href="@{/my-profile}">My profile</a>
      </h3>
      <h3 sec:authorize="isAuthenticated()">
        <a th:href="@{/account/change-password}">change pw</a>
      </h3>
      <h3 sec:authorize="isAuthenticated()">
        <a th:href="@{/account/change-avatar}">change avt</a>
      </h3>
      <h3 sec:authorize="!isAuthenticated()">
        <a th:href="@{/account/forgot-password}">forgot pw</a>
      </h3>
      <h3 sec:authorize="!isAuthenticated()">
        <a th:href="@{/signup}">Register</a>
      </h3>
      <h3 sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Login</a>
      </h3>
      <form
        sec:authorize="isAuthenticated()"
        th:action="@{/logout}"
        method="POST"
      >
        <input type="submit" value="Logout" />
      </form>
    </div>
  </body>
</html>
