<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <h1>Reset Password Page</h1>
    <form th:action="@{/account/reset-password-process}">
      <input
        type="password"
        placeholder="new password"
        required
        name="password"
      />
      <input
        type="password"
        placeholder="confirm new password"
        required
        name="matchingPassword"
      />
      <button type="submit">Submit</button>
    </form>
    <h1 th:if="${message != null}" th:utext="${message}"></h1>
  </body>
</html>
